<!DOCTYPE html>
<html class="post-body">
  <head class="post-body">
    <title><%= title %></title>
    
    <%- include('imports'); -%>

  </head>
  <body class="post-body">
    <%- include('navbar'); -%>

    <div class="container">
      <div class="row-post">
        
        <div class="post-detail">
            <img src="/images/<%= projects.image %>" />
            <h1> <%= projects.title %> </h1>
            <p> <%= projects.body %> </p>
        </div>
        

      </div>
    </div>

  </body>
</html>